<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>Flask</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cosium-opencvjs@1.0.4/build/cv.js"></script>
</head>
<body>
<h2>Hello</h2>
<script>
   function encodeImagetoBase64(element) {
    var file = element.files[0];
    var reader = new FileReader();
    reader.onloadend = function() {
      $('#original').attr('src', reader.result);

    }
    reader.readAsDataURL(file);

  }

</script>

<div>
  <div class="inputoutput">
    <form id="cpd-file" method="post" name="myform" action="/convert" enctype="multipart/form-data">
      Upload Prescription:<input onchange="encodeImagetoBase64(this)" id="file" type="file" name="file"><br>

      Submit:<input type="submit" value="Submit" name="submit">

    </form>
    
  </div>

<script>
  var clear;
  var scanned;
  document.getElementById('cpd-file').addEventListener('submit', function(evt){
    evt.preventDefault();

    var formData = new FormData();
// Attach file
       formData.append('file', $('input[type=file]')[0].files[0]); 
        //fd.append("CustomField", "This is some extra data");
        $.ajax({
            url: 'convert',  
            type: 'POST',
            data: formData,
            success:function(data){
                filepath = data;
                clear =  '/'+data+'_clear.jpg';
                scanned =  '/'+data+'_scanned.jpg';

                $('#clear').attr('src', clear);
                $('#scanned').attr('src', scanned);
            },
            cache: false,
            contentType: false,
            processData: false
        });
      })
</script>



  <div class="inputoutput">
    <canvas id="canvasOutput" >
      <img src="/Users/yashsarvaiya/machine_learnig/test/ScannerFinal/clear.jpg">
    </canvas>
    <img id="original" height="300" width="300" src= >
    <img id="clear" height="300" width="300" src= >
    <img id="scanned" height="300" width="300" src= >
    <img src="" >
    <div class="caption">canvasOutput</div>

  </div>
</div>            
</body>
</html>

